%div.q_topic
  %h1= "#{@sub_topics.first.topic.name}: "

%div.q_content
  = @question.content

=form_for @answer do |f|
  = f.hidden_field :question_id, value: @answer.question_id
  %p
    = f.text_field :content, class: "q_answer"
  %p
    = f.submit "Répondre", class: "q_submit"

%div.q_tags
  = "Tags: #{@sub_topics.map{|st| "#{st.name} (#{st.topic.name})"}.join(", ")}"
   